*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#panorama,#panorama2 {
    position: relative;
    display: block;
    width: 100%;
    height: 50vh;
    background-color: aqua;
}

.nav-list{
    background-color: rgb(210, 167, 251);
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav-list li{
    padding: 20px 50px;
}
.nav-list li a{
    text-decoration: none !important;
    color: inherit;
}

.gallery-img{
    width: 300px;
}

#chart-list{
    display:flex;
    list-style-type: none;
}

.donut-list{
    margin: 20px 30px;
}
#commerce-div-chart{
    width: 20px;
    height: 10px;
    background-color: #C7E8F3;
}

#resident-div-chart{
    width: 20px;
    height: 10px;
    background-color: #BF9ACA;
}
/* 
#bar-chart{
    width: 100px;
} */